<template>
  <div id="app-container">
    <component :is="state.componentName" @update="changeComponentName" />
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, reactive } from "vue";
import Main from "./views/Main.vue";
import Login from "./views/Login.vue";
import DoubleAuth from "./views/DoubleAuth.vue";

import { getIsconnected } from "./sdk-callback/api";

export default defineComponent({
  components: {
    Main,
    Login,
    DoubleAuth,
  },

  setup() {
    const state = reactive({
      componentName: "Login",
    });

    const changeComponentName = (newComponent: string) => {
      state.componentName = newComponent;
    };

    onMounted(async () => {
      // Vérification de l'etat de la connexion de l'utilisateur via le back-end
      getIsconnected().then((isConnected: string) => {
        if (isConnected === "true") changeComponentName("Main");
        else if (isConnected === "2fa") changeComponentName("DoubleAuth");
      });
      // changeComponentName("Main");
    });
    return {
      state,
      changeComponentName,
    };
  },
});
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: white;
}

#app-container {
  background-color: #1a233a;
}
</style>
