<template>
  <div class="col col-player" v-if="data.user.avatar">
    <div class="account-settings">
      <div class="user-profile">
        <div class="user-avatar">
          <img
            :src="data.user.avatar"
            alt="Avatar profile"
            class="user-avatar"
          />
        </div>
      </div>
    </div>

    <h4 class="username">{{ data.user.username }}</h4>
    <br />
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import dataProfile from "../../types/dataProfile";

export default defineComponent({
  name: "PlayerCard",
  props: ["user"],
  data() {
    return {
      currentScore: 0,
    };
  },
  setup(props) {
    // //console.log("PlayerCard.vue");

    const data = reactive({
      user: props.user as dataProfile,
    });

    //console.log(data.user.avatar);

    return {
      data,
    };
  },
});
</script>

<style lang="scss" scoped>
.col-player {
  background-color: #39446ba2;
  color: white;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10%;
  margin: 0 auto 5% 0;
}

.username .user-avatar {
  // margin: 0;
}
</style>