<template>
  <div class="xp">{{ data.xp }} %</div>
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      :style="'width:' + data.xp + '%'"
      aria-valuenow="0"
      aria-valuemin="1"
      aria-valuemax="100"
    ></div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";

export default defineComponent({
  name: "ProgressBar",
  props: ["xp"],
  setup(props) {
    const data = reactive({
      xp: props.xp,
    });

    return {
      data,
    };
  },
});
</script>

<style scoped>
.progress {
  background-color: #39446ba2;
}
.progress-bar {
  background-color: rgb(101, 247, 194) !important;
  color: #272e48;
}
.xp {
  text-align: center;
  color: rgb(101, 247, 194) !important;
  font-size: 0.825rem;
  margin-bottom: 2%;
}
</style>