<template>
  <div class="d-flex flex-column">
    <!-- ADD BANS -->
    <div id="addBans">
      <div class="wrapper--input input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input
          type="text"
          class="form-control"
          :placeholder="data.target"
          aria-label="Username"
          aria-describedby="basic-addon1"
          v-model="data.search"
          @click="resetTargetOnClick"
        />

        <div class="search" v-if="data.users[0]">
          <div
            class="container--user--search"
            v-for="(user, id) in data.users"
            :key="id"
          >
            <div class="line-search d-flex justify-content-between">
              <div class="username">
                {{ user.username }}
              </div>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                @click="selectUserToBanOnClick(user)"
              >
                ban
              </button>
            </div>
          </div>
        </div>
      </div>

      <div v-if="data.search && !data.users[0]">
        <p class="not-found">No matching username!</p>
      </div>

      <!-- OWNER MODE: message in case there is no one yet(except the owner) -->
      <div
        v-if="
          !data.targetProfile.username &&
          metaDataLiveChat.iAmOwner &&
          !metaDataLiveChat.guestUsers.length &&
          !metaDataLiveChat.adminUsers.length
        "
      >
        There is no one else in this live chat. Maybe invite some friends?
      </div>

      <!-- ADMIN MODE: message in case there is no guests yet. -->
      <div
        v-if="
          !data.targetProfile.username &&
          metaDataLiveChat.iAmAdmin &&
          !metaDataLiveChat.guestUsers.length
        "
      >
        There is no guests yet in this live chat. Maybe invite some friends?
      </div>

      <!-- LIST OF THE ADMINS -->
      <div
        class="banListOfAdmins d-flex flex-column"
        v-if="!data.targetProfile.username && metaDataLiveChat.iAmOwner"
      >
        <span
          class="title align-self-start"
          v-if="metaDataLiveChat.adminUsers.length"
        >
          admins list:
        </span>
        <ul class="list-group">
          <li
            class="list-group-item"
            v-for="admin in metaDataLiveChat.adminUsers"
            :key="admin.id"
          >
            <div class="d-flex justify-content-between">
              <div>{{ admin.username }}</div>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                @click="selectUserToBanOnClick(admin)"
              >
                ban
              </button>
            </div>
          </li>
        </ul>
      </div>

      <!-- LIST OF THE GUESTS -->
      <div
        class="banListOfGuests d-flex flex-column"
        v-if="!data.targetProfile.username"
      >
        <span
          class="title align-self-start"
          v-if="metaDataLiveChat.guestUsers.length"
        >
          guests list:
        </span>
        <ul class="list-group">
          <li
            class="list-group-item"
            v-for="guest in metaDataLiveChat.guestUsers"
            :key="guest.id"
          >
            <div class="d-flex justify-content-between">
              <div>{{ guest.username }}</div>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                @click="selectUserToBanOnClick(guest)"
              >
                ban
              </button>
            </div>
          </li>
        </ul>
      </div>
      <ManageBanTime
        v-else
        v-bind:user="data.targetProfile"
        v-bind:thread="thread"
        v-on:bannedUser="bannedUser"
      >
      </ManageBanTime>
    </div>
  </div>
</template>


<script lang="ts">
import { ChatChannelThread } from "@/models/chatChannelThread";
import { MetaDataLiveChat } from "@/models/metaDataLiveChat";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { computed, defineComponent, reactive, watch } from "vue";
import ManageBanTime from "./manageBanTime.vue";

export default defineComponent({
  name: "manageBansLiveChat",

  props: {
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
    metaDataLiveChat: {
      type: Object as () => MetaDataLiveChat,
      required: true,
    },
    resetOnEnteringOptionMenu: {
      type: Boolean,
      required: true,
    },
  },

  emits: ["bannedUser"],

  components: {
    ManageBanTime,
  },

  setup(props, context) {
    /* SEARCH USERS PART */
    const data = reactive({
      search: "", // chaine de caractères recherchée via l'input
      users: [] as UserPublicPOV[], // tableau contenant tous les usernames des utilisateurs renvoyé par le back
      target: "find a user...",
      targetProfile: {},
    });

    const anyUsers = computed(() => {
      return props.metaDataLiveChat.adminUsers.concat(
        props.metaDataLiveChat.guestUsers
      );
    });

    const bannedUser = (selectedUser: UserPublicPOV) => {
      resetTargetOnClick();
    };

    //used to reset the search and the password when we change thread...
    watch(
      () => props.resetOnEnteringOptionMenu,
      (current) => {
        data.search = "";
        resetTargetOnClick();
      }
    );

    watch(
      () => data.search,
      (current) => {
        if (!current) {
          data.users = [];
        } else if (props.metaDataLiveChat.iAmOwner) {
          data.users = getMatchingUsers(current);
        } else {
          data.users = getMatchingGuests(current);
        }
      }
    );

    const getMatchingUsers = (usernamePattern: string) => {
      return anyUsers.value.filter(function (user) {
        return user.username.includes(usernamePattern);
      });
    };

    const getMatchingGuests = (usernamePattern: string) => {
      return props.metaDataLiveChat.guestUsers.filter(function (user) {
        return user.username.includes(usernamePattern);
      });
    };

    const resetTargetOnClick = () => {
      if (props.metaDataLiveChat.iAmOwner)
        data.target = "Search for a guest or an admin...";
      else data.target = "Search for a guest...";
      data.targetProfile = {};
    };

    const selectUserToBanOnClick = (userSelected: UserPublicPOV) => {
      data.targetProfile = userSelected;
      data.target = userSelected.username;
      data.search = "";
    };

    return {
      data,
      anyUsers,
      bannedUser,
      resetTargetOnClick,
      selectUserToBanOnClick,
    };
  },
});
</script>

<style lang="scss" scoped>
.wrapper--input {
  position: relative;

  .search {
    z-index: 2000;
    position: absolute;
    top: 100%;
    width: 70%;
    height: auto;
    background-color: #fff;
    border-radius: 6px !important;
    margin-bottom: 15%;
    border-color: lightblue;
    border-style: double;
  }
}

.title {
  padding-top: 4%;
  padding-bottom: 2%;
}

.list-group {
  max-height: 25vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.line-search {
  text-align: left;
  padding-left: 1%;
  margin: 5px;
  .username {
    color: black;
  }
}

h3 {
  float: left;
}
.not-found {
  color: #f76565;
  font-size: 0.825rem;
  margin: auto;
}
</style>