<template>
  <div>
    <span> About to ban {{ user.username }}, but for how long? </span>
    <br />
    <br />
    <div class="d-flex justify-content-around align-items-start">
      <div>
        <div class="input-group mb-3">
          <input
            type="number"
            class="form-control"
            placeholder="time in seconds"
            aria-label="time in seconds"
            aria-describedby="basic-addon2"
            v-model="timeInSeconds"
            v-on:keydown="keyhandler"
          />
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">Seconds</span>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-danger btn-lg" @click="tryToBanUser">
        BAN
      </button>
    </div>
  </div>
</template>


<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { ChatChannelThread } from "@/models/chatChannelThread";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { banUserInChatChannel } from "@/sdk-callback/chatChannels";
import { defineComponent, inject, Ref, ref } from "vue";
import { Socket } from "socket.io-client";

export default defineComponent({
  name: "ManageBanTime",

  components: {
    //Channels,
  },

  props: {
    user: {
      type: Object as () => UserPublicPOV,
      required: true,
    },
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
  },

  emits: ["bannedUser"],

  setup(props, context) {
    const timeInSeconds: Ref<number> = ref(60);
    const socket = inject("mainSocketIO") as Socket;

    const tryToBanUser = () => {
      //abort in the case of an empty string for example.
      if (!Number.isFinite(Number(timeInSeconds.value))) {
        return;
      }
      banUserInChatChannel(
        props.user.login,
        props.thread.id.toString(),
        timeInSeconds.value
      ).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          //console.log(response?.error?.errorDescription);
          return;
        }
        //to update the metadata of users in the parent component.
        context.emit("bannedUser", props.user);

        //to send a socket event
        const dataForBack = {
          id: props.thread.id,
          username: props.user.username,
        };
        socket.emit("bannedUser", dataForBack);
      });
    };

    //prevent the user from entering those characters.
    const keyhandler = (event: any) => {
      if (
        event.key === "e" ||
        event.key === "+" ||
        event.key === "-" ||
        event.key === "."
      ) {
        event.preventDefault();
      }
    };

    return {
      tryToBanUser,
      keyhandler,
      timeInSeconds,
    };
  },
});
</script>

<style scoped>
</style>