<template>
  <div class="container" v-if="!store.goPong">
    <div class="card h-100">
      <button class="popup-close" @click="closePopup">X</button>
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="scroll">
          <table class="w3-table" v-if="store.gamesInProgress.length > 0">
            <tr>
              <th>Games in progress</th>
              <th>Map</th>
              <th>Action</th>
            </tr>
            <tr v-for="game in store.gamesInProgress" :key="game.id">
              <td>
                {{ game.username_player1 }} vs {{ game.username_player2 }}
              </td>
              <td>{{ game.mapName }}</td>
              <td>
                <button
                  class="btn btn-primary btn-sm"
                  @click="onButtonClick(game.gameID)"
                >
                  WATCH
                </button>
              </td>
            </tr>
          </table>
          <div class="message-empty" v-else>
            <p>There are no games in progress currently ... 🧐</p>
          </div>
        </div>
      </div>
      <div class="refresh-list">
        <button class="btn btn-primary btn-sm" @click="refreshOnButtonClick">
          REFRESH
        </button>
      </div>
    </div>
  </div>

  <Pong v-else :dataGame="store.dataGameFound" />
</template>

<script lang="ts">
import { defineComponent, reactive, watch, inject } from "vue";
import { Socket } from "socket.io-client";
import { findGamesList } from "../../sdk-callback/game";
import dataGameInProgress from "../../types/dataGameInProgress";
import dataGameFound from "../../types/pong/dataGameFound";
import Pong from "../../views/Pong.vue";

// import DoubleButton from "../Others/DoubleButton.vue";

export default defineComponent({
  components: {
    // DoubleButton,
    Pong,
  },
  emit: ["update"],
  setup(props, context) {
    const socket = inject("mainSocketIO") as Socket;

    const store = reactive({
      goPong: false,
      gamesInProgress: [] as dataGameInProgress[],
      dataGameFound: {} as dataGameFound,
    });

    watch(
      () => store.gamesInProgress,
      () => {
        getDataFromBack();
      }
    );

    socket.on("watchGameFound", ({ data }) => {
      //console.log("watchGameFound: ", data);
      store.dataGameFound = data as dataGameFound;
      store.dataGameFound.isWatched = true;
      store.goPong = true;
    });

    const closePopup = () => {
      context.emit("update", false);
    };

    const getDataFromBack = () => {
      // Recupere les 10 premieres games de la liste des parties en cours au chargement du component
      findGamesList(1).then((response: dataGameInProgress[]) => {
        for (let i = 0; i < response.length; i++)
          store.gamesInProgress[i] = response[i];
      });
    };
    getDataFromBack();
    // //console.log(store.gamesInProgress);

    const onButtonClick = (gameId: string) => {
      socket.emit("watchGame", { data: gameId });
    };

    const refreshOnButtonClick = () => {
      store.gamesInProgress = [];
    };

    return {
      store,
      closePopup,
      onButtonClick,
      refreshOnButtonClick,
    };
  },
});
</script>


<style scoped>
.btn {
  margin: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
  border: 2px solid rgb(101, 247, 194) !important;
}
.img-profile {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.container {
  padding-top: 2%;
  /* height: 80vh; */
}

.text-primary {
  padding-top: 3% !important;
  padding-bottom: 1.5% !important;
}

table {
  border: 1px solid rgb(101, 247, 194);
  border-radius: 3px;
  background-color: #fff;
  width: 100%;
  text-align: center;
}

th {
  background-color: #272e48;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th,
td {
  min-width: 120px;
  padding: 10px 20px;
}

tr {
  color: #1a233a;
}

.scroll {
  overflow: auto;
  height: 360px;
  padding-left: 5%;
  padding-right: 5%;
}

.popup-close {
  background-color: rgb(101, 247, 194);
  border-color: rgb(101, 247, 194);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  width: 2%;
  margin: 1%;
}

.message-empty {
  margin: 15%;
}
</style>