<template>
  <!-- the active attribute should be toggled :)  -->
  <button
    type="button"
    class="list-group-item list-group-item-action"
    v-bind:class="{ active: isActive }"
    @click="tryToSelectThreadOnClick()"
  >
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-between
        align-items-center
      "
    >
      <!-- AVATAR -->
      <div
        class="ml-auto align-self-baseline avatar-direct-message-thread-list"
      >
        <img
          :src="interlocutor.avatar"
          alt="avatar-user"
          class="picture-profile"
        />
      </div>
      <!-- USERNAME -->
      <div class="thread-name">{{ interlocutor.username }}</div>
      <!-- NEW BADGE -->
      <div class="new-flag align-self-baseline">
        <span class="badge badge-pill badge-danger" v-show="newMessages">
          New</span
        >
      </div>
    </div>
  </button>
</template>

<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { DirectMessageThread } from "@/models/directMessageThread";
import {
  ChatThreadGenre,
  SelectedThreadTupple,
} from "@/models/selectedThreadTupple";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { directMessageThreadUpdateOne } from "@/sdk-callback/directMessages";
import { defineComponent, PropType, Ref, ref, watch } from "vue";

export default defineComponent({
  components: {
    //Channels,
  },

  props: {
    thread: {
      //TODO, here why only the type DirectMEssage? and not liveChat ?
      type: Object as PropType<DirectMessageThread>,
      required: true,
    },
    selectedThread: {
      type: Object as () => SelectedThreadTupple, //to cast to SelectedThreadTupple
      required: true,
    },
    selectedThreadFromSelectedUserToTalkWith: {
      type: Object as () => DirectMessageThread, //to cast to DirectMessageThread
      required: true,
    },
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
    idThreadReceivedANewDirectMessage: {
      type: Number,
      required: true,
    },
  },

  emits: ["newSelectedThread"],

  setup(props, context) {
    //always set to false, except in the case we are seting up and the selected
    //thread is a directMessage (this happens while browsing from the friend VUE,
    //and we want to send a message to a user we do already have a thread with.)
    let isActive: Ref<boolean> = ref(
      props.selectedThread.genre === ChatThreadGenre.DIRECT_MESSAGE &&
        props.selectedThread.id === props.thread.id
    );
    const threadGenre: ChatThreadGenre = ChatThreadGenre.DIRECT_MESSAGE;
    const newMessages: Ref<boolean> = ref(false);

    const interlocutor: UserPublicPOV =
      props.whoAmI_TODO.username === props.thread.user1.username
        ? props.thread.user2
        : props.thread.user1;

    //TODO activate the badge only when necessary.
    const initNewBadge = () => {
      if (
        !props.thread.lastMessageSeen &&
        props.thread.lastEmitterUsername === interlocutor.username
      )
        newMessages.value = true;
      else newMessages.value = false;
    };
    initNewBadge();

    //func called to update the newMessages to "read" (in the db as well)
    const updateNewMessagesToRead = () => {
      directMessageThreadUpdateOne({ id: props.thread.id }).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          //console.log(response?.error?.errorDescription);
          return;
        }
        newMessages.value = false;
      });
    };

    const tryToSelectThreadOnClick = () => {
      if (
        props.thread.id === props.selectedThread.id &&
        threadGenre === props.selectedThread.genre
      ) {
        //do nothing in this case... :)
        return;
      }
      const newSelectedThread: SelectedThreadTupple = {
        id: props.thread.id,
        genre: threadGenre,
        thread: props.thread,
        newDirectMessageThreadButNothingSentYet: false,
        userTargetInNewDirectMessageThread: {
          id: 0,
          login: "fake",
          username: "fake",
          avatar: "",
          wins: 0,
          loses: 0,
          ratio: 0,
          xp: 0,
          lvl: 0,
          //0: offline, 1: online, 2: do not disturb
          status: 0,
          playingCurrently: false,
        } as UserPublicPOV,
      };
      if (newMessages.value) {
        updateNewMessagesToRead();
      }
      context.emit("newSelectedThread", newSelectedThread);
    };

    //update the badge "new message" if this data changes.
    watch(
      () => props.idThreadReceivedANewDirectMessage,
      (current) => {
        //do nothing if the current thread is not concerned
        if (current !== props.thread.id) return;
        //do nothing if we are already on the current thread.
        if (current === props.selectedThread.id) return;
        //make the new badge pill appear
        newMessages.value = true;
      }
    );

    //select the correct thread is we selected the user to talk to in the options ("ex: find friend").
    watch(
      () => props.selectedThreadFromSelectedUserToTalkWith,
      (current) => {
        if (current.id === -1 || current.id !== props.thread.id) return;
        const newSelectedThread: SelectedThreadTupple = {
          id: props.thread.id,
          genre: threadGenre,
          thread: props.thread,
          newDirectMessageThreadButNothingSentYet: false,
          userTargetInNewDirectMessageThread: {
            id: 0,
            login: "fake",
            username: "fake",
            wins: 0,
            loses: 0,
            avatar: "",
            ratio: 0,
            xp: 0,
            lvl: 0,
            //0: offline, 1: online, 2: do not disturb
            status: 0,
            playingCurrently: false,
          } as UserPublicPOV,
        };
        if (newMessages.value) {
          updateNewMessagesToRead();
        }
        context.emit("newSelectedThread", newSelectedThread);
      }
    );

    return {
      isActive,
      tryToSelectThreadOnClick,
      threadGenre,
      newMessages,
      interlocutor,
    };
  },

  watch: {
    selectedThread: {
      handler(val, oldVal) {
        //toggle only if it is the old list item...
        if (val.id === this.thread.id && val.genre === this.threadGenre) {
          this.isActive = true;
        } else this.isActive = false;
      },
      deep: true,
    },
    newMessages: {
      //this will just toggle newMessages on and off.
      handler(val, oldVal) {
        if (!oldVal) this.newMessages = true;
        else if (oldVal) this.newMessages = false;
      },
    },
  },
});

// https://github.com/AykutSarac/chatify/blob/main/src/client/src/components/ChatScreen.vue
</script>

<style scoped>
.picture-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 2%;
  object-fit: cover;
  object-position: 50% 50%;
}

.new-flag {
  width: 20%;
  min-width: 3.2em;
  height: 100%;
  margin-left: auto;
}

.new-flag > .badge {
  width: auto;
  background-color: red;
  border-radius: 10px;
}

.thread-name {
  /* background-color: greenyellow; */
  white-space: nowrap;
  overflow: hidden;
}

.list-group-item {
  width: 100%;
  padding: 5%;
}

.list-group-item:hover {
  border-color: #2c3e50;
  border-radius: 6px;
}

.active {
  background-color: rgb(134, 134, 171);
  border-radius: 6px;
}

.avatar-direct-message-thread-list {
  margin-left: 10px;
  margin-right: 10px;
}
</style>