<template>
  <div
    class="modal fade"
    id="findFriendDirectMessageModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="findFriendDirectMessageModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- HEADER -->
        <div class="modal-header">
          <h5 class="modal-title" id="findFriendDirectMessageModalLabel">
            find a friend:
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="border-radius: 10px"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- BODY -->
        <div class="modal-body d-flex flex-column">
          <div class="wrapper--input input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <!-- //SEARCH INPUT -->
            <input
              type="text"
              class="form-control"
              :placeholder="data.target"
              aria-label="Username"
              aria-describedby="basic-addon1"
              v-model="data.search"
              @click="resetTargetOnClick"
            />
            <!-- //SEARCH RESULT -->
            <div class="search" v-if="data.filteredFriends[0]">
              <div
                class="container--user--search"
                v-for="(friend, id) in data.filteredFriends"
                :key="id"
              >
                <div class="line-search d-flex justify-content-between">
                  <div class="username">
                    {{ friend.username }}
                  </div>
                  <button
                    type="button"
                    class="btn btn-success btn-sm"
                    @click="SelectFriendOnClick(friend)"
                    data-dismiss="modal"
                  >
                    talk
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div v-if="data.search && !data.filteredFriends[0]">
            <p class="not-found">No matching username!</p>
          </div>
        </div>

        <!-- FOOTER -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { SelectedThreadTupple } from "@/models/selectedThreadTupple";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { getListOfFriends } from "@/sdk-callback/friends";
import { defineComponent, reactive, Ref, ref, watch } from "vue";

export default defineComponent({
  name: "ModalFindFriendDirectMessage",

  props: {
    resetOnEnteringOptionMenu: {
      type: Boolean,
      required: true,
    },
  },

  emits: ["startDirectMessagingWithUser"],

  setup(props, context) {
    /* SEARCH USERS PART */
    const data = reactive({
      search: "", // chaine de caractères recherchée via l'input
      filteredFriends: [] as UserPublicPOV[], //array filtered, according to the value of the search variable
      friends: [] as UserPublicPOV[], //array of the friends, from back-end.
      target: "Search for a user to direct-message with...",
      targetProfile: {},
    });

    //used to reset the list of friends
    watch(
      () => props.resetOnEnteringOptionMenu,
      (current) => {
        loadFriendsListFromBackEnd();
        data.search = "";
        resetTargetOnClick();
      }
    );

    watch(
      () => data.search,
      async (current) => {
        if (!current) {
          data.filteredFriends = [];
        } else {
          data.filteredFriends = getMatchingUsers(current);
          ////console.log("filteredFriends: ", data.filteredFriends);
        }
      }
    );

    const getMatchingUsers = (usernamePattern: string) => {
      return data.friends.filter(function (friend) {
        return friend.username.includes(usernamePattern);
      });
    };

    const loadFriendsListFromBackEnd = () => {
      getListOfFriends(0).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          //console.log(response?.error?.errorDescription);
          return;
        }
        data.friends = response.data;
        ////console.log("list of friends: ", response.data);
      });
    };

    const resetTargetOnClick = () => {
      data.target = "Search for a user to direct-message with...";
      data.targetProfile = {};
    };

    const SelectFriendOnClick = (selectedUser: UserPublicPOV) => {
      data.targetProfile = selectedUser;
      context.emit("startDirectMessagingWithUser", selectedUser);
    };

    return {
      data,
      loadFriendsListFromBackEnd,
      resetTargetOnClick,
      SelectFriendOnClick,
    };
  },
});
</script>

<style lang="scss" scoped >
.modal-body {
  color: darkblue;
}
.modal-title {
  color: darkblue;
}
.wrapper--input {
  position: relative;

  .search {
    z-index: 2000;
    position: absolute;
    top: 100%;
    width: 70%;
    height: auto;
    background-color: #fff;
    border-radius: 6px !important;
    margin-bottom: 15%;
    border-color: lightblue;
    border-style: double;
  }
}

.line-search {
  text-align: left;
  padding-left: 1%;
  margin: 5px;
  .username {
    color: black;
  }
}

h3 {
  float: left;
}
.not-found {
  color: #f76565;
  font-size: 0.825rem;
  margin: auto;
}
</style>