<template>
  <div class="row justify-content-center">
    <a class="btn btn-primary btn-sm" role="button" @click="onLeftButtonClick">
      <slot name="left-btn"> </slot>
    </a>

    <a class="btn btn-primary btn-sm" role="button" @click="onRightButtonClick">
      <slot name="right-btn"> </slot>
    </a>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "DoubleButton",
  emit: ["update"],
  setup(props, context) {
    const onLeftButtonClick = () => {
      context.emit("update", "left");
    };

    const onRightButtonClick = () => {
      context.emit("update", "right");
    };

    return {
      onLeftButtonClick,
      onRightButtonClick,
    };
  },
});
</script>

<style scoped>
.btn {
  margin-right: 10px;
  width: 20%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary {
  background: white;
  color: #272e48;
  border: 1px white solid;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #272e48;
  border-color: white;
  outline: none;
}
</style>