<template>
  <div>
    <footer id="footer">© 2021 - fassani, flmarsil, charmstr</footer>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "Footer",
});
</script>

<style>
#footer {
  background: #2f3a5e;
  color: white;

  bottom: 0;
  width: 100%;
  height: 50px;

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(101, 247, 194);
}
</style>