<template>
  <div id="chatView" v-if="isLoading.done">
    <!-- <div
        class="d-flex justify-content-between flex-nowrap align-items-stretch"
      > -->

    <div
      class="
        d-flex
        justify-content-between
        align-content-stretch
        flex-nowrap
        align-items-stretch
      "
    >
      <div class="threadsBoxDiv">
        <ChatThreadsBox
          v-bind:whoAmI_TODO="whoAmI_TODO"
          v-bind:selectedThread="selectedThread"
          v-bind:liveChatIdThreadToDel="liveChatIdThreadToDel"
          v-on:newSelectedThread="updateSelectedThread"
          v-on:newThreadWithUserToBeStarted="newThreadWithUserToBeStarted"
          v-bind:usernameRecipientLastDirectMessage="
            data.usernameRecipientLastDirectMessage
          "
        >
        </ChatThreadsBox>
        <!-- <p>in div 1</p> -->
      </div>
      <div class="flex-grow-1">
        <ChatMessagesBox
          ref="childComponentChatMessagesBox"
          v-bind:whoAmI_TODO="whoAmI_TODO"
          v-bind:selectedThread="selectedThread"
          v-on:quitLiveChat="quitLiveChat"
          v-on:directMessageSent="directMessageSent"
        >
        </ChatMessagesBox>

        <!-- <p>in div 2</p> -->
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import {
  defineComponent,
  inject,
  reactive,
  ref,
  Ref,
  onBeforeMount,
  onMounted,
  provide,
} from "vue";
//import Channels from '../components/ChatChannels/ChatChannelsPublicList.vue'
import ChatThreadsBox from "../components/Chat/ThreadsBox/chatThreadsBox.vue";
import ChatMessagesBox from "../components/Chat/MessagesBox/chatMessagesBox.vue";

import {
  SelectedThreadTupple,
  ChatThreadGenre,
} from "../models/selectedThreadTupple";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { getProfileInfo } from "@/sdk-callback/profiles";
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { DirectMessageThread } from "@/models/directMessageThread";
import { getDirectMessagesThreadExists } from "@/sdk-callback/directMessages";
import { Socket } from "socket.io-client";
import { getAccountInfo } from "@/sdk-callback/user";

export default defineComponent({
  components: {
    ChatMessagesBox,
    ChatThreadsBox,
  },
  props: ["username"],
  setup(props) {
    ////console.log("PARAMS : ", props.username);

    const socket = inject("mainSocketIO") as Socket;

    const whoAmI_TODO = reactive({
      username: "",
      login: "",
    });

    const data = reactive({
      usernameRecipientLastDirectMessage: "",
    });

    const isLoading = reactive({
      done: false,
    });

    const getDataFromBack = async () => {
      await getAccountInfo().then((response) => {
        whoAmI_TODO.username = response.username;
        whoAmI_TODO.login = response.login;
        // //console.log("**", whoAmI_TODO.username);
        // //console.log("**", whoAmI_TODO.login);
        isLoading.done = true;
      });
    };
    getDataFromBack();

    const liveChatIdThreadToDel: Ref<Number> = ref(0);

    const selectedThread: SelectedThreadTupple = reactive({
      id: 0,
      genre: ChatThreadGenre.UNSELECTED,
      thread: undefined,

      newDirectMessageThreadButNothingSentYet: false,
      userTargetInNewDirectMessageThread: {
        id: 0,
        login: "fake",
        username: "fake",
        avatar: "",
        wins: 0,
        loses: 0,
        ratio: 0,
        xp: 0,
        lvl: 0,
        //0: offline, 1: online, 2: do not disturb
        status: 0,
        playingCurrently: false,
      } as UserPublicPOV,
    });

    //TODO
    //if coming from the vue friends and willing to send a message to username...
    if (props.username) {
      //ICI besoin d'une route...
      getDirectMessagesThreadExists(props.username).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          //errorId 2 means there is no existing thread between you and username
          if (response.error.errorId === 2) {
            getProfileInfo(props.username).then((response2) => {
              if (response2.status === BasicResponseStatus.ERROR) {
                // //console.log(response2?.error?.errorDescription);
                //do nothing, it turns out there is no user selected to talk with...
                return;
              }
              //select a user with who ther is no thread yet!
              selectedThread.newDirectMessageThreadButNothingSentYet = true;
              selectedThread.userTargetInNewDirectMessageThread =
                response2.data;
              return;
            });
          }
          //an errorId other than 2 means there was a problem...
          else {
            // //console.log(response?.error?.errorDescription);
            //do nothing, it turns out there is no user selected to talk with...
            return;
          }
        }
        //if a thread already exists between you and username.
        else {
          selectedThread.id = response.data.id;
          selectedThread.genre = ChatThreadGenre.DIRECT_MESSAGE;
          selectedThread.thread = response.data;
        }
      });
    }

    socket.on("liveChatBannedUser", (data) => {
      if (
        selectedThread.genre !== ChatThreadGenre.LIVE_CHAT ||
        data.data.roomID !== selectedThread.id ||
        data.data.username !== whoAmI_TODO.username
      )
        return;
      selectedThread.id = 0;
      selectedThread.genre = ChatThreadGenre.UNSELECTED;
      selectedThread.thread = undefined;
    });

    const updateSelectedThread = (newSelectedThread: SelectedThreadTupple) => {
      if (selectedThread.genre === ChatThreadGenre.LIVE_CHAT) {
        //leave room id
        socket.emit("leaveRoom", selectedThread.id);
      }

      if (newSelectedThread.genre === ChatThreadGenre.LIVE_CHAT) {
        //join room id
        socket.emit("joinRoom", newSelectedThread.id);
      }

      selectedThread.id = newSelectedThread.id;
      selectedThread.genre = newSelectedThread.genre;
      selectedThread.thread = newSelectedThread.thread;
      selectedThread.newDirectMessageThreadButNothingSentYet = false;
      liveChatIdThreadToDel.value = 0;
      /*
      //console.log(
        `In chat.vue: updating thread:\n
         \tid: ${selectedThread.id} \n
         \tgenre: ${selectedThread.genre} \n
         \tthread: ${selectedThread.thread}`
      );
      */
    };

    // to unselect the thread if it just got
    socket.on("liveChatDeletedByOwner", (data) => {
      liveChatIdThreadToDel.value = data.data.roomID;
      if (
        selectedThread.genre !== ChatThreadGenre.LIVE_CHAT ||
        data.data.roomID !== selectedThread.id
      )
        return;
      selectedThread.genre = ChatThreadGenre.UNSELECTED;
      selectedThread.thread = undefined;
    });

    //OK
    const quitLiveChat = (idLiveChatThreadDeleted: Number) => {
      selectedThread.genre = ChatThreadGenre.UNSELECTED;
      selectedThread.thread = undefined;
      liveChatIdThreadToDel.value = idLiveChatThreadDeleted;
    };

    const newThreadWithUserToBeStarted = (
      selectedUserToDirectMessageWith: UserPublicPOV
    ) => {
      selectedThread.genre = ChatThreadGenre.UNSELECTED;
      selectedThread.thread = undefined;
      selectedThread.newDirectMessageThreadButNothingSentYet = true;
      selectedThread.userTargetInNewDirectMessageThread =
        selectedUserToDirectMessageWith;
    };

    const directMessageSent = (username_recipient: string) => {
      //used to trigger the reorder of the direct message threads.
      data.usernameRecipientLastDirectMessage = username_recipient;
    };

    return {
      selectedThread,
      updateSelectedThread,
      whoAmI_TODO,
      isLoading,
      quitLiveChat,
      liveChatIdThreadToDel,
      newThreadWithUserToBeStarted,
      directMessageSent,
      data,
    };
  },
});
</script>

<style scoped>
#chatView {
  background: #1a233a;
  height: 90vh;
  min-height: 100%;
}

.d-flex {
  /* background: #932; */
  width: 100%;
  padding: 1%;
  height: 100%;
}

.threadsBoxDiv {
  max-width: 40%;
  min-width: 30%;
}

.d-flex > div {
  margin: 1%;

  background: #3c466a;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
</style>