<template>
  <div class="container pong-container">
    <component
      :is="store.componentName"
      :resultGame="store.result"
      :dataGame="store.dataGame"
    />
  </div>
</template>


<script lang="ts">
import { defineComponent, reactive, inject, watch } from "vue";
import { Socket } from "socket.io-client";

import PongGame from "../components/Pong/PongGame.vue";
import PongResultGame from "../components/Pong/PongResultGame.vue";
import dataResultGame from "../types/pong/dataResultGame";
import dataGameFound from "../types/pong/dataGameFound";

export default defineComponent({
  name: "Pong",
  props: ["dataGame"],
  components: {
    PongGame,
    PongResultGame,
  },
  setup(props) {
    const socket = inject("mainSocketIO") as Socket;

    const store = reactive({
      componentName: "PongGame",
      dataGame: props.dataGame as dataGameFound,
      result: {} as dataResultGame,
    });

    watch(
      () => store.componentName,
      (current) => {
        // //console.log("watch current: ", current);
        store.componentName = current;
      }
    );
    socket.on("gameFinish", ({ data }) => {
      store.result = data as dataResultGame;
      store.componentName = "PongResultGame";
      // //console.log("gameFinish Pong.vue : ", store.componentName);
    });

    return {
      store,
    };
  },
});
</script>

<style scoped>
.pong-container {
  min-height: 85vh;
  height: 100%;
}
.container {
  min-height: 85vh;
  height: 100%;
}

.side-col {
  max-width: 150px;
  margin-top: 5%;
}

/* .btn {
  margin-right: 10px;
  width: 20%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary {
  background: white;
  color: #272e48;
  border: 1px white solid;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #272e48;
  border-color: white;
  outline: none;
} */
</style>
