<template>
  <div
    class="modal fade"
    id="changePasswordLiveChatModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="changePasswordLiveChatModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changePasswordLiveChatModalLabel">
            Are you sure?
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="border-radius: 10px"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"
              >Enter your new password for "{{
                thread.chatChannelName
              }}":</label
            >
            <form>
              <input
                type="password"
                class="form-control"
                :placeholder="passwordPlaceholder"
                v-model="newPassword"
                @keyup.enter="tryToChangePasswordLiveChat"
                autocomplete="on"
              />
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            @click="tryToChangePasswordLiveChat"
            data-dismiss="modal"
          >
            Change Password
          </button>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { ChatChannelThread } from "@/models/chatChannelThread";
import { changePasswordInChatChannel } from "@/sdk-callback/chatChannels";
import { defineComponent, reactive, Ref, ref, watch } from "vue";

export default defineComponent({
  name: "ModalChangePasswordLiveChat",

  props: {
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
    resetOnEnteringOptionMenu: {
      type: Boolean,
      required: true,
    },
  },

  setup(props, context) {
    let newPassword: Ref<string> = ref("");
    let passwordPlaceholder: Ref<string> = ref("type in here...");

    const tryToChangePasswordLiveChat = () => {
      changePasswordInChatChannel(
        newPassword.value,
        props.thread.id.toString()
      ).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          return;
        }
      });
      newPassword.value = "";
    };

    //used to reset the search and the password when we change thread...
    watch(
      () => props.resetOnEnteringOptionMenu,
      (current) => {
        newPassword.value = "";
      }
    );

    return {
      tryToChangePasswordLiveChat,
      newPassword,
      passwordPlaceholder,
    };
  },
});
</script>

<style scoped>
.modal-body {
  color: darkblue;
}
.modal-title {
  color: darkblue;
}
</style>