<template>
  <div
    class="modal fade"
    id="manageMutesLiveChatModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="manageMutesLiveChatModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="manageMutesLiveChatModalLabel">
            Manage Mutes
          </h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="border-radius: 10px"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a
                class="nav-item nav-link active"
                id="mute-liveChat-tab"
                data-toggle="tab"
                href="#mute-liveChat"
                role="tab"
                aria-controls="mute-liveChat"
                aria-selected="true"
                @click="onClickManageMutesTab"
                >MUTE</a
              >
              <a
                class="nav-item nav-link"
                id="unmute-liveChat-tab"
                data-toggle="tab"
                href="#unmute-liveChat"
                role="tab"
                aria-controls="unmute-liveChat"
                aria-selected="false"
                @click="onClickManageMutesTab"
                >UNMUTE</a
              >
            </div>
          </nav>
          <br />
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="mute-liveChat"
              role="tabpanel"
              aria-labelledby="mute-liveChat-tab"
            >
              <ManageMutesLiveChat
                v-bind:thread="thread"
                v-bind:metaDataLiveChat="metaDataLiveChat"
                v-bind:adminsOnlyMutableUsers="data.adminsOnlyMutableUsers"
                v-bind:guestsOnlyMutableUsers="data.guestsOnlyMutableUsers"
                v-on:mutedUser="mutedUser"
                v-on:notAdminAnymore="notAdminAnymore"
                v-on:updateLiveChatUsers="updateLiveChatUsers"
              />
            </div>
            <div
              class="tab-pane fade"
              id="unmute-liveChat"
              role="tabpanel"
              aria-labelledby="unmute-liveChat-tab"
            >
              <ManageUnmutesLiveChat
                v-bind:thread="thread"
                v-bind:metaDataLiveChat="metaDataLiveChat"
                v-bind:mutedUsers="data.mutedUsers"
                v-on:notAdminAnymore="notAdminAnymore"
                v-on:unmutedUser="unmutedUser"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Done
          </button>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { BannedOrMutedUser } from "@/models/bannedOrMutedUser";
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { ChatChannelThread } from "@/models/chatChannelThread";
import { MetaDataLiveChat } from "@/models/metaDataLiveChat";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { getListOfMutedUsersInChatChannel } from "@/sdk-callback/chatChannels";
import { defineComponent, reactive, watch } from "vue";
import ManageMutesLiveChat from "./ManageMutes/manageMutesLiveChat.vue";
import ManageUnmutesLiveChat from "./ManageMutes/manageUnmutesLiveChat.vue";

export default defineComponent({
  components: {
    ManageMutesLiveChat,
    ManageUnmutesLiveChat,
  },
  name: "ModalManageMutesLiveChat",

  props: {
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
    metaDataLiveChat: {
      type: Object as () => MetaDataLiveChat,
      required: true,
    },
    resetOnEnteringOptionMenu: {
      type: Boolean,
      required: true,
    },
  },

  emits: ["notAdminAnymore", "updateLiveChatUsers"],

  setup(props, context) {
    const mutedUser = async (selectedUser: UserPublicPOV) => {
      data.adminsOnlyMutableUsers = data.adminsOnlyMutableUsers.filter(
        (user) => {
          return user.username !== selectedUser.username;
        }
      );
      data.guestsOnlyMutableUsers = data.guestsOnlyMutableUsers.filter(
        (user) => {
          return user.username !== selectedUser.username;
        }
      );
    };

    const unmutedUser = async (selectedUser: UserPublicPOV) => {
      await loadMutedUsers();
      resetAdminsOnlyMutableUsers();
      resetGuestsOnlyMutableUsers();
    };

    const data = reactive({
      onClickManageMutesTab: false,
      mutedUsers: [] as BannedOrMutedUser[], // tableau contenant la list des banned users renvoyé par le back
      adminsOnlyMutableUsers: [] as UserPublicPOV[],
      guestsOnlyMutableUsers: [] as UserPublicPOV[],
    });

    const notAdminAnymore = () => {
      context.emit("notAdminAnymore");
    };

    const loadMutedUsers = async () => {
      await getListOfMutedUsersInChatChannel(props.thread.id.toString()).then(
        (response) => {
          if (response.status === BasicResponseStatus.ERROR) {
            //if the chatChannel doesnt exist no more...
            if (response.error.id === 0) {
              //do nothing as the socket event will do it.
            }
            //if the user requesting is not an admin anymore...
            else if (response.error.id === 1) {
              context.emit("notAdminAnymore");
            }
            return;
          }
          data.mutedUsers = response.data;
        }
      );
    };

    //used to reset the data we user, the mutedUsers and mutable users.
    const onClickManageMutesTab = async () => {
      await loadMutedUsers();
      resetAdminsOnlyMutableUsers();
      resetGuestsOnlyMutableUsers();
    };

    //used to reset the data we user, the mutedUsers and mutable users.
    watch(
      () => props.resetOnEnteringOptionMenu,
      async (current) => {
        await loadMutedUsers();
        resetAdminsOnlyMutableUsers();
        resetGuestsOnlyMutableUsers();
      }
    );

    //used to reset the data if adminUsers change
    watch(
      () => props.metaDataLiveChat.adminUsers,
      async (current) => {
        await loadMutedUsers();
        resetAdminsOnlyMutableUsers();
      }
    );
    //used to reset the data if guestUsers change
    watch(
      () => props.metaDataLiveChat.guestUsers,
      async (current) => {
        await loadMutedUsers();
        resetGuestsOnlyMutableUsers();
      }
    );

    const resetAdminsOnlyMutableUsers = () => {
      data.adminsOnlyMutableUsers = props.metaDataLiveChat.adminUsers.filter(
        (anyUser) => {
          let match: Boolean = false;
          data.mutedUsers.forEach((mutedUser) => {
            if (mutedUser.userLogin === anyUser.login) match = true;
          });
          if (match) return false;
          else return true;
        }
      );

    };

    const resetGuestsOnlyMutableUsers = () => {
      data.guestsOnlyMutableUsers = props.metaDataLiveChat.guestUsers.filter(
        (anyUser) => {
          let match: Boolean = false;
          data.mutedUsers.forEach((mutedUser) => {
            if (mutedUser.userLogin === anyUser.login) match = true;
          });
          if (match) return false;
          else return true;
        }
      );
    };

    const updateLiveChatUsers = () => {
      context.emit("updateLiveChatUsers", updateLiveChatUsers);
    };

    return {
      data,
      //notAdminAnymore,
      onClickManageMutesTab,
      mutedUser,
      unmutedUser,
      notAdminAnymore,
      updateLiveChatUsers,
    };
  },
});
</script>


<style scoped>
.modal-body {
  color: darkblue;
}
.modal-title {
  color: darkblue;
}

#unmute-liveChat-tab {
  color: green;
}

#mute-liveChat-tab {
  color: red;
}

.nav-tabs .nav-item.nav-link {
  border: 1px solid #dee2e6 !important;
  background-color: rgb(241, 241, 241) !important;
}

.nav-tabs .nav-item.nav-link.active {
  border: 1px solid #dee2e6 !important;
  border-bottom: transparent !important;
  background-color: white !important;
}

.tab-content {
  padding: 15px;
}
</style>