<template>
  <div
    class="modal fade"
    id="quitLiveChatModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="quitLiveChatModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="quitLiveChatModalLabel">Are you sure?</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="border-radius: 10px"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">You might not be able to join again...</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            class="btn btn-danger"
            @click="tryToQuitLiveChat"
            data-dismiss="modal"
          >
            Quit
          </button>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { ChatChannelThread } from "@/models/chatChannelThread";
import { quitChatChannel } from "@/sdk-callback/chatChannels";
import { defineComponent, reactive, Ref, ref } from "vue";

export default defineComponent({
  name: "ModalQuitLiveChat",

  props: {
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
  },

  emits: ["quitLiveChat"],

  setup(props, context) {
    const tryToQuitLiveChat = () => {
      quitChatChannel(props.whoAmI_TODO.login, props.thread.id.toString()).then(
        (response) => {
          if (response.status === BasicResponseStatus.ERROR) {
            return;
          }
          context.emit("quitLiveChat", props.thread.id);
        }
      );
    };

    return {
      tryToQuitLiveChat,
    };
  },
});
</script>

<style scoped>
.modal-body {
  color: darkblue;
}
.modal-title {
  color: darkblue;
}
</style>
          