<template>
  <div
    class="modal fade"
    id="addGuestsLiveChatModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addGuestsLiveChatModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="addGuestsLiveChatModalLabel">
            Add Guests:
          </h1>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            style="border-radius: 10px"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <AddGuestsLiveChat
            v-bind:thread="thread"
            v-bind:whoAmI_TODO="whoAmI_TODO"
            v-bind:metaDataLiveChat="metaDataLiveChat"
            v-on:guestAdded="guestAdded"
            v-bind:resetOnEnteringOptionMenu="resetOnEnteringOptionMenu"
          />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Done
          </button>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { ChatChannelThread } from "@/models/chatChannelThread";
import { MetaDataLiveChat } from "@/models/metaDataLiveChat";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { defineComponent, reactive, Ref, ref } from "vue";
import AddGuestsLiveChat from "./AddGuests/addGuestsLiveChat.vue";

export default defineComponent({
  components: { AddGuestsLiveChat },
  name: "ModalAddFriendsLiveChat",

  props: {
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
    metaDataLiveChat: {
      type: Object as () => MetaDataLiveChat,
      required: true,
    },
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
    resetOnEnteringOptionMenu: {
      type: Boolean,
      required: true,
    },
  },

  emits: ["guestAdded"],

  setup(props, context) {
    const guestAdded = (userSelected: UserPublicPOV) => {
      context.emit("guestAdded", userSelected);
    };

    return {
      guestAdded,
    };
  },
});
</script>

<style scoped>
.modal-body {
  color: darkblue;
}
.modal-title {
  color: darkblue;
}
</style>