<template>
  <div>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        @click="optionButtonClicked"
      >
        Options
      </button>
      <div
        class="dropdown-menu dropdown-menu-right"
        aria-labelledby="dropdownMenuButton"
      >
        <!-- DELETE -->
        <button
          type="button"
          class="dropdown-item"
          data-toggle="modal"
          data-target="#deleteLiveChatModal"
          v-if="ownerMode"
        >
          Delete Live Chat
        </button>

        <!-- PASSWORD -->
        <button
          type="button"
          class="dropdown-item"
          data-toggle="modal"
          data-target="#changePasswordLiveChatModal"
          v-if="ownerMode"
        >
          Change Password
        </button>

        <!-- Manage Admins -->
        <button
          type="button"
          class="dropdown-item"
          data-toggle="modal"
          data-target="#manageAdminsLiveChatModal"
          v-if="ownerMode"
        >
          Manage Admins
        </button>

        <!-- Manage Bans -->
        <button
          type="button"
          class="dropdown-item"
          data-toggle="modal"
          data-target="#manageBansLiveChatModal"
          v-if="ownerMode || adminMode"
        >
          Manage Bans
        </button>

        <!-- MANAGE MUTES -->
        <button
          type="button"
          class="dropdown-item"
          data-toggle="modal"
          data-target="#manageMutesLiveChatModal"
          v-if="ownerMode || adminMode"
        >
          Manage Mutes
        </button>

        <!-- QUIT -->
        <div v-if="adminMode || ownerMode" class="dropdown-divider"></div>
        <button
          type="button"
          class="dropdown-item"
          data-toggle="modal"
          data-target="#quitLiveChatModal"
          v-if="!ownerMode"
        >
          Quit Live Chat
        </button>

        <!-- ADD GUESTS -->
        <button
          type="button"
          class="dropdown-item"
          data-toggle="modal"
          data-target="#addGuestsLiveChatModal"
        >
          Add Guests
        </button>

        <!-- CHALLENGE SOMEONE -->
        <button
          type="button"
          class="dropdown-item"
          data-toggle="modal"
          data-target="#challengeSomeoneLiveChatModal"
        >
          Challenge
        </button>
      </div>
    </div>

    <ModalDeleteLiveChat
      v-bind:thread="thread"
      v-on:deletedLiveChat="deletedLiveChat"
    />

    <ModalManageAdminsLiveChat
      v-bind:thread="thread"
      v-bind:metaDataLiveChat="metaDataLiveChat"
      v-on:addedAdmin="addedAdmin"
      v-on:removedAdmin="removedAdmin"
      v-bind:resetOnEnteringOptionMenu="resetOnEnteringOptionMenu"
    />

    <ModalManageBansLiveChat
      v-bind:thread="thread"
      v-bind:metaDataLiveChat="metaDataLiveChatWithoutOwnerInAdminsArray"
      v-on:notAdminAnymore="notAdminAnymore"
      v-bind:resetOnEnteringOptionMenu="resetOnEnteringOptionMenu"
    />

    <ModalManageMutesLiveChat
      v-bind:thread="thread"
      v-bind:metaDataLiveChat="metaDataLiveChatWithoutOwnerInAdminsArray"
      v-on:notAdminAnymore="notAdminAnymore"
      v-bind:resetOnEnteringOptionMenu="resetOnEnteringOptionMenu"
    />

    <ModalChangePasswordLiveChat
      v-bind:thread="thread"
      v-bind:resetOnEnteringOptionMenu="resetOnEnteringOptionMenu"
    />

    <ModalQuitLiveChat
      v-bind:thread="thread"
      v-bind:whoAmI_TODO="whoAmI_TODO"
      v-on:quitLiveChat="quitLiveChat"
    />

    <ModalAddGuestsLiveChat
      v-bind:thread="thread"
      v-bind:metaDataLiveChat="metaDataLiveChat"
      v-bind:whoAmI_TODO="whoAmI_TODO"
      v-on:guestAdded="guestAdded"
      v-bind:resetOnEnteringOptionMenu="resetOnEnteringOptionMenu"
    />

    <ModalChallengeSomeoneLiveChat
      v-bind:thread="thread"
      v-bind:metaDataLiveChat="metaDataLiveChat"
      v-bind:resetOnEnteringOptionMenu="resetOnEnteringOptionMenu"
      v-bind:whoAmI_TODO="whoAmI_TODO"
    />
  </div>
</template>


<script lang="ts">
import { ChatChannelThread } from "@/models/chatChannelThread";
import { MetaDataLiveChat } from "@/models/metaDataLiveChat";
import { computed, defineComponent, ref, Ref } from "vue";
import ModalDeleteLiveChat from "./ModalDeleteLiveChat.vue";
import ModalQuitLiveChat from "./ModalQuitLiveChat.vue";
import ModalChangePasswordLiveChat from "./ModalChangePasswordLiveChat.vue";
import ModalManageAdminsLiveChat from "./ModalManageAdminsLiveChat.vue";
import { UserPublicPOV } from "@/models/userPublicPOV";
import ModalManageBansLiveChat from "./ModalManageBansLiveChat.vue";
import ModalManageMutesLiveChat from "./ModalManageMutesLiveChat.vue";
import ModalAddGuestsLiveChat from "./ModalAddGuestsLiveChat.vue";
import ModalChallengeSomeoneLiveChat from "./ModalChallengeSomeoneLiveChat.vue";

export default defineComponent({
  name: "OptionsForLiveChatHeader",

  components: {
    ModalDeleteLiveChat,
    ModalQuitLiveChat,
    ModalChangePasswordLiveChat,
    ModalManageAdminsLiveChat,
    ModalManageBansLiveChat,
    ModalManageMutesLiveChat,
    ModalAddGuestsLiveChat,
    ModalChallengeSomeoneLiveChat,
  },

  props: {
    liveChatName: {
      type: String,
      required: true,
    },
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
    metaDataLiveChat: {
      type: Object as () => MetaDataLiveChat,
      required: true,
    },
  },

  emits: [
    "deletedLiveChat",
    "quitLiveChat",
    "renamedLiveChat",
    "addedAdmin",
    "removedAdmin",
    "mutedUser",
    "guestAdded",
    "notAdminAnymore",
  ],

  setup(props, context) {
    const ownerMode = computed(() => {
      return props.metaDataLiveChat.iAmOwner;
    });

    //filter the admins Array in the metadata, we dont want the owner.
    const metaDataLiveChatWithoutOwnerInAdminsArray = computed(() => {
      const filteredMetaData: MetaDataLiveChat = props.metaDataLiveChat;
      filteredMetaData.adminUsers = filteredMetaData.adminUsers.filter(
        (user) => user.login !== props.thread.owner.login
      );
      return filteredMetaData;
    });

    const deletedLiveChat = (id: Number) => {
      context.emit("deletedLiveChat", id);
    };

    const renamedLiveChat = (id: Number) => {
      context.emit("renamedLiveChat", id);
    };

    const quitLiveChat = (id: Number) => {
      context.emit("quitLiveChat", id);
    };

    const adminMode = computed(() => {
      return props.metaDataLiveChat.iAmAdmin;
    });

    const addedAdmin = (selectedUser: UserPublicPOV) => {
      context.emit("addedAdmin", selectedUser);
    };

    const removedAdmin = (selectedUser: UserPublicPOV) => {
      context.emit("removedAdmin", selectedUser);
    };

    const notAdminAnymore = () => {
      context.emit("notAdminAnymore");
    };

    const mutedUser = (selectedUser: UserPublicPOV) => {
      context.emit("mutedUser", selectedUser);
    };

    const guestAdded = (userSelected: UserPublicPOV) => {
      context.emit("guestAdded", userSelected);
    };

    const resetOnEnteringOptionMenu: Ref<Boolean> = ref(false);
    const optionButtonClicked = () => {
      resetOnEnteringOptionMenu.value = !resetOnEnteringOptionMenu.value;
    };

    return {
      adminMode,
      ownerMode,
      deletedLiveChat,
      quitLiveChat,
      renamedLiveChat,
      addedAdmin,
      removedAdmin,
      notAdminAnymore,
      mutedUser,
      metaDataLiveChatWithoutOwnerInAdminsArray,
      guestAdded,
      resetOnEnteringOptionMenu,
      optionButtonClicked,
    };
  },
});
</script>

<style scoped>
</style>