<template>
  <!-- <div class="friend-request-view"> -->
  <h3 class="mb-3 text-primary">Friend request</h3>
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="scroll">
      <table class="w3-table" v-if="state.contactRequest.length > 0">
        <tr>
          <th></th>
          <th></th>
        </tr>
        <tr v-for="request in state.contactRequest" :key="request.id">
          <td>
            <img
              class="img-profile"
              :src="request.avatar"
              alt="profile picture"
            />
            {{ request.username }}
          </td>
          <td>
            <div class="action">
              <a @click="onAcceptButtonClick(request.username)">
                <img
                  class="logo check"
                  src="../../assets/check.svg"
                  alt="profile picture"
                  width="25"
                />
              </a>
              <a @click="onCancelButtonClick(request.username)">
                <img
                  class="logo cancel"
                  src="../../assets/cancel.svg"
                  alt="profile picture"
                  width="20"
                />
              </a>
            </div>
          </td>
        </tr>
      </table>
      <div v-else>
        <p class="info-message">You have no friend requests</p>
      </div>
    </div>
  </div>
  <!-- </div> -->
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import {
  acceptFriend,
  refuseFriend,
  getContactRequest,
} from "../../sdk-callback/friends";
import dataContactRequest from "../../types/dataContactRequest";

export default defineComponent({
  emits: ["reload"],
  setup(props, context) {
    const state = reactive({
      index: 1,
      contactRequest: [] as dataContactRequest[],
    });

    const onAcceptButtonClick = (username: string) => {
      acceptFriend(username).then((response) => {
        // //console.log("Friends request is accepted : ", response);
        if (response.status === "OK" && !response.error) {
          context.emit("reload", 0);
        } else if (response.status === "ERROR") {
          //console.log(response.error.errorDescription);
        }
      });
      // getDataFromBack();
    };
    const onCancelButtonClick = (username: string) => {
      refuseFriend(username).then((response) => {
        // //console.log("Friends request is cancel : ", response);
        if (response.status === "OK" && !response.error) {
          context.emit("reload", 0);
        } else if (response.status === "ERROR") {
          //console.log(response.error.errorDescription);
        }
      });
      // getDataFromBack();
    };

    // Récupération des données depuis le back-end au chargement de la vue.
    const getDataFromBack = () => {
      getContactRequest(state.index).then((response) => {
        // //console.log("contact request list : ", response);
        if (response.status === "OK") {
          state.contactRequest = response.data as dataContactRequest[];
        } else if (response.status === "ERROR") {
          //console.log(response.error.errorDescription);
        }
      });
    };
    getDataFromBack();
    return {
      state,
      onAcceptButtonClick,
      onCancelButtonClick,
    };
  },
});
</script>


<style lang="scss" scoped>
.container {
  margin: 1% auto;
  padding: 2%;
  background-color: #2f3a5e;
}
.row {
  justify-content: center;
}
.friend-view {
}
.request-list {
  padding: 2%;
  margin: 2%;
  background: #1a233a;
}
.friends-list {
  padding: 2%;
  margin: 2%;
  background: #1a233a;
}

table {
  border: 2px solid #2f3a5e;
  border-radius: 3px;
  background-color: #fff;
  width: 100%;
  text-align: center;
}

th {
  background-color: #2f3a5e;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th,
td {
  min-width: 120px;
  padding: 10px 20px;
}

tr {
  color: #1a233a;
}

.scroll {
  overflow: auto;
  height: 200px;
  padding-left: 5%;
  padding-right: 5%;
}

.logo {
  padding: 2%;
  margin: 2%;
}
.check {
  margin-right: 10%;
}
.cancel {
  margin-left: 10%;
}

a {
  background: transparent !important;
}

.info-message {
  color: rgb(101, 247, 194);
}

.img-profile {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-right: 5%;
  float: left;
}
</style>