<template>
  <div class="public-profile-chat-view">
    <div class="card" v-if="!state.popup">
      <div v-if="!state.popup">
        <div class="close-profile-div" @click="onCloseClick">
          <button class="btn-primary btn-sm close-profile">X</button>
        </div>
        <div class="profile-card" v-if="state.profile.username">
          <img
            :src="state.profile.avatar"
            alt="picture-profile"
            class="picture-profile"
            :style="state.customcss"
          />
          <span class="h3 username-profile">{{ state.profile.username }}</span>
        </div>
        <div class="profile-stats">
          <button type="button" class="btn btn-info level">
            Level : {{ state.profile.lvl }}
          </button>
          <button type="button" class="btn btn-info wins">
            Wins : {{ state.profile.wins }}
          </button>
          <button type="button" class="btn btn-info loses">
            Loses : {{ state.profile.loses }}
          </button>
          <button type="button" class="btn btn-info ratio">
            Ratio : {{ state.profile.ratio }}
          </button>
          <button type="button" class="btn btn-info xp">
            XP : {{ state.profile.xp }}
          </button>
        </div>

        <!-- <div class="match-history">
          <button
            type="button"
            id="submit"
            name="submit"
            class="btn btn-primary"
            @click="onPopupHistoryClick"
          >
            Match History
          </button> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, watch } from "vue";
import dataProfile from "../../types/dataProfile";
import MatchHistoryPopup from "../../components/Profile/MatchHistoryPopup.vue";

export default defineComponent({
  components: {
    MatchHistoryPopup,
  },
  props: ["profile"],
  emits: ["close"],
  setup(props, context) {
    const state = reactive({
      profile: props.profile as dataProfile,
      customcss: "",
      popup: false,
    });

    if (state.profile.status === 0)
      // offline
      state.customcss = "border: 2px solid rgb(228, 130, 119)";
    else if (state.profile.status === 1)
      // online
      state.customcss = "border: 2px solid rgb(119, 228, 119)";
    else if (state.profile.status === 2)
      // do not disturb
      state.customcss = "border: 2px solid rgb(228, 206, 119)";

    // const onPopupHistoryClick = () => {
    //   state.popup = true;
    // };

    // const onCloseButtonClick = () => {
    //   state.popup = false;
    // };

    const onCloseClick = () => {
      context.emit("close", 0);
    };

    return {
      state,
      //   onPopupHistoryClick,
      //   onCloseButtonClick,
      onCloseClick,
    };
  },
});
</script>


<style lang="scss" scoped>
.public-profile-chat-view {
  margin: 10%;
}
.profile-card {
  .picture-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 2%;
    object-fit: cover;
    object-position: 50% 50%;
  }
  .username-profile {
    color: white;
    margin-left: 2%;
  }
  .status-profile {
    color: white;
    margin-right: 2%;
  }
}

.match-history {
  margin: 10px;
}

.close-profile-div {
  float: right;
}
.close-profile,
.close-profile:hover {
  background-color: rgb(101, 247, 194) !important;
  border-color: rgb(101, 247, 194) !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  margin-right: 10px !important;
}

.btn {
  background-color: #011723;
  border-radius: 2px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 9px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #011723;
  margin: 3px;
}

.level {
  background-color: rgb(111, 128, 172);
  border-color: rgb(111, 128, 172);
}
.wins {
  background-color: rgb(75, 197, 152);
  border-color: rgb(75, 197, 152);
}
.loses {
  background-color: rgb(170, 95, 87);
  border-color: rgb(170, 95, 87);
}
.ratio {
  background-color: rgb(96, 109, 181);
  border-color: rgb(96, 109, 181);
}

.xp {
  background-color: rgb(160, 82, 112);
  border-color: rgb(160, 82, 112);
}

.card {
  padding: 3%;
}
</style>