<template>
  <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
      <div class="card-body">
        <div class="account-settings">
          <div class="user-profile">
            <div class="user-avatar">
              <img :src="data.user.avatar" alt="Avatar profile" />
            </div>
            <br />
            <h5 class="mb-2 text-primary">Username</h5>
            <p>{{ data.user.username }}</p>
          </div>

          <div class="about">
            <h5 class="mb-2 text-primary">Status</h5>

            <p id="circle" v-if="data.user.status == 1"></p>
            <p id="red-circle" v-else-if="data.user.status == 0"></p>
            <p id="yellow-circle" v-else-if="data.user.status == 2"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { defineComponent, reactive } from "vue";

import dataProfile from "../../types/dataProfile";

export default defineComponent({
  name: "ProfileCard",
  emit: ["update"],
  props: ["user"],
  setup(props, context) {
    const data = reactive({
      user: props.user as dataProfile,
    });

    return {
      data,
    };
  },
});
</script>

<style lang="scss" scoped>
#circle {
  background: rgb(119, 228, 119); /* online */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 10%;
  text-align: center !important;
  margin-left: 45%;
}

#yellow-circle {
  background: rgb(228, 206, 119); /* absent */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 10%;
  text-align: center !important;
  margin-left: 45%;
}

#red-circle {
  background: rgb(228, 130, 119); /* offline */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 10%;
  text-align: center !important;
  margin-left: 45%;
}

.text-right {
  text-align: center !important;
}
</style>