<template>
  <div class="list-group">
    <div v-if="ready.value">
      <liveChatThreadListItem
        v-for="thread in liveChatThreads"
        v-bind:thread="thread"
        v-bind:key="thread.id"
        v-bind:selectedThread="selectedThread"
        v-bind:whoAmI_TODO="whoAmI_TODO"
        v-on:newSelectedThread="updateSelectedThread"
      >
      </liveChatThreadListItem>
    </div>
    <div v-if="!liveChatThreads.length">no live chat joined yet...</div>
  </div>
</template>


<script lang="ts">
import { ChatChannelThread } from "@/models/chatChannelThread";
import {
  defineComponent,
  reactive,
  onBeforeMount,
  ref,
  Ref,
  watch,
  inject,
} from "vue";
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { getListOfChatChannelsAsAnyMember } from "@/sdk-callback/chatChannels";
import {
  ChatThreadGenre,
  SelectedThreadTupple,
} from "@/models/selectedThreadTupple";
import liveChatThreadListItem from "./liveChatThreadListItem.vue";
import { Socket } from "socket.io-client";

export default defineComponent({
  name: "liveChatThreadsList",

  props: {
    selectedThread: {
      type: Object as () => SelectedThreadTupple, //to cast to SelectedThreadTupple
      required: true,
    },
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
    liveChatIdThreadToDel: {
      type: Number,
      required: true,
    },
  },

  components: {
    liveChatThreadListItem,
  },

  computed: {},

  emits: ["newSelectedThread"],

  setup(props, context) {
    const socket = inject("mainSocketIO") as Socket;
    const ready = reactive({ value: false });

    let liveChatThreads: Ref<Array<ChatChannelThread>> = ref([]);

    watch(
      () => props.liveChatIdThreadToDel,
      (current, previous) => {
        if (current === 0) return; //to avoid action on the reset...
        liveChatThreads.value = liveChatThreads.value.filter(
          (thread) => thread.id !== props.liveChatIdThreadToDel
        );
      }
    );

    const loadLiveChatThreads = async () => {
      getListOfChatChannelsAsAnyMember("ANY").then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          //console.log(response?.error?.errorDescription);
          return;
        }
        liveChatThreads.value = response.data;
        // //console.log("Live chats as any user:");
        // liveChatThreads.value.forEach((elem) => {
        //   //console.log(elem);
        // });
      });
    };

    onBeforeMount(() => {
      loadLiveChatThreads();
    });

    socket.on("liveChatBannedUser", (data) => {
      if (
        props.selectedThread.genre !== ChatThreadGenre.LIVE_CHAT ||
        data.data.roomID !== props.selectedThread.id ||
        data.data.username !== props.whoAmI_TODO.username
      )
        return;
      loadLiveChatThreads();
    });

    watch(liveChatThreads, (current, previous) => {
      ready.value = true;
    });

    const updateSelectedThread = (newSelectedThread: SelectedThreadTupple) => {
      context.emit("newSelectedThread", newSelectedThread);
    };

    return {
      ready,
      liveChatThreads,
      updateSelectedThread,
    };
  },

  //used to add a new thread if selected but not present.
  watch: {
    selectedThread: {
      handler(current) {
        if (current.genre !== ChatThreadGenre.LIVE_CHAT) return;
        else if (
          this.liveChatThreads.filter(function (e) {
            return e.id === current.thread.id;
          }).length > 0
        ) {
          return; //DO NOTHING, THE THREAD ALREADY EXISTS
        } else {
          //PUSH THE NEW SELECTED THREAD AT THE FRONT
          ////console.log("debug: ", current.thread);
          this.liveChatThreads.unshift(current.thread);
        }
      },
      deep: true,
    },
  },
});
</script>

<style scoped>
</style>