<template>
  <div
    class="modal fade"
    id="JoinLiveChatModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="joinLiveChatModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- HEADER -->
        <div class="modal-header">
          <h5 class="modal-title" id="joinLiveChatModalLabel">
            Join Public Live Chat
          </h5>
        </div>

        <!-- BODY -->
        <div class="modal-body">
          <!-- //IF PASSWORD IS REQUIRED -->
          <div v-if="data.targetThread.id">
            <form @submit.prevent="">
              <div class="form-group d-flex flex-column align-items-start">
                <label for="joinPublicLiveChatInputPassword">Password:</label>
                <div class="input-group mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="joinPublicLiveChatInputPassword"
                    :placeholder="data.placeholderPassword"
                    aria-describedby="passwordHelp"
                    autocomplete="on"
                    v-model="data.password"
                    @keyup.enter="
                      tryToJoinLiveChatWithPassword(
                        data.targetThread,
                        data.password
                      )
                    "
                  />
                  <div class="input-group-append">
                    <button
                      id="joinPublicLiveChatWithPasswordButton"
                      type="button"
                      class="btn btn-success"
                      @click="
                        tryToJoinLiveChatWithPassword(
                          data.targetThread,
                          data.password
                        )
                      "
                    >
                      Join
                    </button>
                  </div>
                </div>
                <small id="passwordHelp" class="form-text text-muted"
                  >This live chat is public, but a password is required.</small
                >
              </div>
            </form>
          </div>

          <!-- //ON FIRST INTENTION, LIST OF THREADS -->
          <div
            v-else-if="data.publicLiveChats.length"
            class="publicLiveChatsList d-flex flex-column"
          >
            <span class="title align-self-start">
              availables public live chats:
            </span>
            <!-- message in case there is no one yet(except the owner) -->
            <div>
              <ul class="list-group">
                <li
                  class="list-group-item"
                  v-for="liveChat in data.publicLiveChats"
                  :key="liveChat.id"
                >
                  <div class="d-flex justify-content-between">
                    <div>
                      {{ liveChat.chatChannelName }} (id: {{ liveChat.id }})
                    </div>
                    <button
                      type="button"
                      class="btn btn-success btn-sm"
                      @click="tryToJoinLiveChat(liveChat)"
                    >
                      Join
                    </button>
                  </div>
                </li>
              </ul>
            </div>
            <!-- //warning message, optional -->
            <div id="liveChatJoinWarningMessage" v-if="data.displayWarning">
              warning: {{ data.warningMessage }}
            </div>
          </div>
          <!-- //IF THERE IS NO PUBLIC THREADS YET... -->
          <div v-else>there is no public live chats you can join...</div>
        </div>

        <!-- FOOTER -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            DONE
          </button>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { ChatChannelThread } from "@/models/chatChannelThread";
import {
  ChatThreadGenre,
  SelectedThreadTupple,
} from "@/models/selectedThreadTupple";
import { UserPublicPOV } from "@/models/userPublicPOV";
import {
  getListOfChatChannelsAsAnyMember,
  getListOfPublicChatChannels,
  joinPublicChatChannel,
} from "@/sdk-callback/chatChannels";
import { defineComponent, reactive, watch } from "vue";

export default defineComponent({
  name: "ModalCreateLiveChat",

  props: {
    resetOnEnteringOptionMenu: {
      type: Boolean,
      required: true,
    },
  },

  emits: ["newSelectedThread"],

  setup(props, context) {
    const data = reactive({
      publicLiveChats: [],
      password: "",
      placeholderPassword: "enter password...",
      targetThread: {},
      warningMessage: "",
      displayWarning: false,
    });

    //used to reset the search and the password when we change thread...
    watch(
      () => props.resetOnEnteringOptionMenu,
      (current) => {
        loadPublicLiveChats();
        resetData();
      }
    );

    //to reset the data fields that matter.
    const resetData = () => {
      data.password = "";
      data.placeholderPassword = "enter password...";
      data.targetThread = {};
      data.displayWarning = false;
    };

    const loadPublicLiveChats = () => {
      getListOfPublicChatChannels().then((responseOutter) => {
        if (responseOutter.status === BasicResponseStatus.ERROR) {
          //console.log(responseOutter?.error?.errorDescription);
          return;
        }
        ////console.log("publicChatChannels: ", responseOutter.data);
        getListOfChatChannelsAsAnyMember("ANY").then((responseInner) => {
          // //console.log("chatChannels i belong in: ", responseInner.data);
          if (responseInner.status === BasicResponseStatus.ERROR) {
            //console.log(responseInner?.error?.errorDescription);
            return;
          }
          //triming all the live chats user is already enrolled in from
          //the public list of live chats.
          let difference = responseOutter.data.filter(
            (x: ChatChannelThread) => {
              if (
                responseInner.data.filter(function (e: ChatChannelThread) {
                  return e.id === x.id;
                }).length > 0
              ) {
                return false;
              }
              return true;
            }
          );
          data.publicLiveChats = difference;
        });
      });
    };

    loadPublicLiveChats();

    const updateArrayPublicLiveChats = (threadToRemove: ChatChannelThread) => {
      data.publicLiveChats = data.publicLiveChats.filter(
        (thread: ChatChannelThread) => thread.id !== threadToRemove.id
      );
    };

    //first try to join without a password.
    const tryToJoinLiveChat = (thread: ChatChannelThread) => {
      //make sure the warning disapears when clicking JOIN on another thread.
      data.displayWarning = false;
      joinPublicChatChannel(thread.id.toString()).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          if (response.error.errorId === 4) {
            resetData();
            data.displayWarning = true;
            data.warningMessage = `You are banned from live chat ${thread.id} until: ${response.error.errorDescription}.`;
          }
          //TODO 4, you have been banned!
          //if chatChannel no longer exists.
          if (response.error.errorId === 0) {
            resetData();
            data.displayWarning = true;
            data.warningMessage = `the chatChannel ${thread.id} no longer exists.`;
            updateArrayPublicLiveChats(thread);
            return;
          }
          if (response.error.errorId === 5) {
            //password required.
            data.targetThread = thread;
            return;
          }
          //console.log(response?.error?.errorDescription);
          return;
        }
        const newSelectedThread: SelectedThreadTupple = {
          id: thread.id,
          genre: ChatThreadGenre.LIVE_CHAT,
          thread: thread as ChatChannelThread,
          newDirectMessageThreadButNothingSentYet: false,
          userTargetInNewDirectMessageThread: {
            id: 0,
            login: "fake",
            username: "fake",
            wins: 0,
            loses: 0,
            avatar: "",
            ratio: 0,
            xp: 0,
            lvl: 0,
            //0: offline, 1: online, 2: do not disturb
            status: 0,
            playingCurrently: false,
          } as UserPublicPOV,
        };
        context.emit("newSelectedThread", newSelectedThread);
        updateArrayPublicLiveChats(thread);
      });
    };

    //with password
    const tryToJoinLiveChatWithPassword = (
      thread: ChatChannelThread,
      password: string
    ) => {
      joinPublicChatChannel(thread.id.toString(), password).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          //if chatChannel no longer exists.
          if (response.error.errorId === 0) {
            resetData();
            data.displayWarning = true;
            data.warningMessage = `the chatChannel ${thread.id} no longer exists.`;
            updateArrayPublicLiveChats(thread);
            return;
          }
          // TODO: 0: no longer exists, 4: banned
          if (response.error.errorId === 6) {
            //wrong password
            resetPasswordPlaceHolderWhenWrong();
            return;
          }
          //console.log(response?.error?.errorDescription);
          return;
        }
        const newSelectedThread: SelectedThreadTupple = {
          id: thread.id,
          genre: ChatThreadGenre.LIVE_CHAT,
          thread: thread as ChatChannelThread,
          newDirectMessageThreadButNothingSentYet: false,
          userTargetInNewDirectMessageThread: {
            id: 0,
            login: "fake",
            username: "fake",
            wins: 0,
            loses: 0,
            avatar: "",
            ratio: 0,
            xp: 0,
            lvl: 0,
            //0: offline, 1: online, 2: do not disturb
            status: 0,
            playingCurrently: false,
          } as UserPublicPOV,
        };
        context.emit("newSelectedThread", newSelectedThread);
        updateArrayPublicLiveChats(thread);
        resetData();
      });
    };

    const resetPasswordPlaceHolderWhenWrong = () => {
      data.password = "";
      data.placeholderPassword = "Try again!";
    };

    return {
      tryToJoinLiveChat,
      tryToJoinLiveChatWithPassword,
      data,
      updateArrayPublicLiveChats,
    };
  },
});
</script>

<style scoped>
.modal-body {
  color: darkblue;
}

.modal-title {
  color: darkblue;
}

#liveChatJoinWarningMessage {
  color: red;
}

.list-group {
  max-height: 50vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
</style>