<template>
  <div
    class="modal fade"
    id="createLiveChatModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createLiveChatModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- HEADER -->
        <div class="modal-header">
          <h5 class="modal-title" id="createLiveChatModalLabel">
            Create New Live Chat
          </h5>
        </div>

        <!-- BODY -->
        <div class="modal-body">
          <form>
            <div class="form-group d-flex flex-column align-items-start">
              <label for="liveChatName">Live Chat Name:</label>
              <input
                type="text"
                class="form-control"
                id="liveChatName"
                :placeholder="data.placeholderName"
                v-model="data.name"
              />
            </div>
            <div class="form-group d-flex flex-column align-items-start">
              <label for="createLiveChatInputPassword">Password:</label>
              <input
                type="password"
                class="form-control"
                id="createLiveChatInputPassword"
                :placeholder="data.placeholderPassword"
                aria-describedby="passwordHelp"
                autocomplete="on"
                v-model="data.password"
              />
              <small id="passwordHelp" class="form-text text-muted"
                >Leaving it blanck means there is no password.</small
              >
            </div>
            <div class="form-check d-flex align-items-center">
              <input
                type="checkbox"
                class="form-check-input"
                id="privateLiveChatCheck"
                value="false"
                v-model="data.privateLiveChat"
              />
              <label class="form-check-label p-2" for="privateLiveChatCheck"
                >private</label
              >
            </div>
          </form>
        </div>

        <!-- FOOTER -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-success"
            @click="tryToCreateLiveChat"
            data-dismiss="modal"
          >
            CREATE
          </button>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { ChatChannelThread } from "@/models/chatChannelThread";
import {
  ChatThreadGenre,
  SelectedThreadTupple,
} from "@/models/selectedThreadTupple";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { createOneChatChannel } from "@/sdk-callback/chatChannels";
import { defineComponent, reactive, watch } from "vue";

export default defineComponent({
  name: "ModalCreateLiveChat",

  props: {
    resetOnEnteringOptionMenu: {
      type: Boolean,
      required: true,
    },
  },

  emits: ["newSelectedThread"],

  setup(props, context) {
    const data = reactive({
      privateLiveChat: false,
      password: "",
      placeholderPassword: "enter new password",
      name: "chat channel",
      placeholderName: "enter new name",
    });

    //used to reset the search and the password when we change thread...
    watch(
      () => props.resetOnEnteringOptionMenu,
      (current) => {
        data.privateLiveChat = false;
        data.password = "";
        data.placeholderPassword = "enter new password";
        data.name = "chat channel";
        data.placeholderName = "enter new name";
      }
    );

    const tryToCreateLiveChat = () => {
      createOneChatChannel(data.privateLiveChat, data.password, data.name).then(
        (response) => {
          if (response.status === BasicResponseStatus.ERROR) {
            //console.log(response?.error?.errorDescription);
            return;
          }
          //response.data contains a ChatChannelThread Object
          ////console.log("created live chat id: ", response.data);
          const newSelectedThread: SelectedThreadTupple = {
            id: response.data.id,
            genre: ChatThreadGenre.LIVE_CHAT,
            thread: response.data as ChatChannelThread,
            newDirectMessageThreadButNothingSentYet: false,
            userTargetInNewDirectMessageThread: {
              id: 0,
              login: "fake",
              username: "fake",
              wins: 0,
              loses: 0,
              avatar: "",
              ratio: 0,
              xp: 0,
              lvl: 0,
              //0: offline, 1: online, 2: do not disturb
              status: 0,
              playingCurrently: false,
            } as UserPublicPOV,
          };
          context.emit("newSelectedThread", newSelectedThread);
        }
      );
    };

    return {
      tryToCreateLiveChat,
      data,
    };
  },
});
</script>

<style scoped>
.modal-body {
  color: darkblue;
}
.modal-title {
  color: darkblue;
}
</style>