<template>
  <div class="d-flex flex-column">
    <!-- ADD BANS -->
    <div id="addBans">
      <div class="wrapper--input input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input
          type="text"
          class="form-control"
          :placeholder="data.target"
          aria-label="Username"
          aria-describedby="basic-addon1"
          v-model="data.search"
          @click="resetTargetOnClick"
        />

        <div class="search" v-if="data.users[0]">
          <div
            class="container--user--search"
            v-for="(user, id) in data.users"
            :key="id"
          >
            <div class="line-search d-flex justify-content-between">
              <div class="username">
                {{ user.username }}
              </div>
              <button
                type="button"
                class="btn button-fight"
                @click="selectUserToChallengeOnClick(user)"
              >
                ⚔️
              </button>
            </div>
          </div>
        </div>
      </div>

      <div v-if="data.search && !data.users[0]">
        <p class="not-found">No matching username!</p>
      </div>

      <!-- message in case there is no one yet(except the owner) -->
      <div
        v-if="
          !data.targetProfile.username &&
          !metaDataLiveChat.guestUsers.length &&
          !metaDataLiveChat.adminUsers.length
        "
      >
        There is no one else in this live chat. Maybe invite some friends?
      </div>

      <!-- LIST OF THE MEMBERS -->
      <div
        v-else-if="!data.targetProfile.username"
        class="alreadyMembersList d-flex flex-column"
      >
        <span class="title align-self-start"> Members list: </span>
        <!-- message in case there is no one yet(except the owner) -->
        <div>
          <ul class="list-group">
            <!-- // OWNER -->
            <div
              class="full-width-enforced"
              v-if="whoAmI_TODO.login !== thread.owner.login"
            >
              <button
                class="list-group-item full-width-enforced"
                @click="selectUserToChallengeOnClick(thread.owner)"
              >
                <div class="d-flex justify-content-between">
                  <div>{{ thread.owner.username }}</div>
                  <span class="badge badge-owner">owner</span>
                </div>
              </button>
            </div>
            <!-- // ALREADY ADMINS -->
            <div
              class="full-width-enforced"
              v-for="admin in metaDataLiveChat.adminUsers"
              :key="admin.id"
              @click="selectUserToChallengeOnClick(admin)"
            >
              <button
                class="full-width-enforced list-group-item"
                v-if="admin.login !== whoAmI_TODO.login"
              >
                <div class="d-flex justify-content-between">
                  <div>{{ admin.username }}</div>
                  <span class="badge badge-admin">admin</span>
                </div>
              </button>
            </div>
            <!-- //ALREADY GUESTS -->
            <div
              class="full-width-enforced"
              v-for="guest in metaDataLiveChat.guestUsers"
              :key="guest.id"
              @click="selectUserToChallengeOnClick(guest)"
            >
              <button
                class="full-width-enforced list-group-item"
                v-if="guest.login !== whoAmI_TODO.login"
              >
                <div class="d-flex justify-content-between">
                  <div>{{ guest.username }}</div>
                  <span class="badge badge-guest">guest</span>
                </div>
              </button>
            </div>
          </ul>
        </div>
      </div>
      <!-- //when the profile target is selected, SELECT A MAP -->
      <SelectMapLiveChat
        v-else
        v-bind:targetProfileUsername="data.targetProfile.username"
      >
      </SelectMapLiveChat>
    </div>
  </div>
</template>


<script lang="ts">
import { ChatChannelThread } from "@/models/chatChannelThread";
import { MetaDataLiveChat } from "@/models/metaDataLiveChat";
import { UserPublicPOV } from "@/models/userPublicPOV";
import { Socket } from "socket.io-client";
import { computed, defineComponent, inject, reactive, watch } from "vue";
import SelectMapLiveChat from "./selectMapLiveChat.vue";

export default defineComponent({
  name: "SelectChallengerLiveChat",

  props: {
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
    metaDataLiveChat: {
      type: Object as () => MetaDataLiveChat,
      required: true,
    },
    resetOnEnteringOptionMenu: {
      type: Boolean,
      required: true,
    },
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
  },

  components: { SelectMapLiveChat },

  setup(props, context) {
    /* SEARCH USERS PART */
    const data = reactive({
      search: "", // chaine de caractères recherchée via l'input
      users: [] as UserPublicPOV[], // tableau contenant tous les usernames des utilisateurs renvoyé par le back
      target: "quick search by username...",
      targetProfile: {},
    });

    //anyUsers includes even the owner.
    const anyUsers = computed(() => {
      //console.log("admins: ", props.metaDataLiveChat.adminUsers);
      //console.log("guests: ", props.metaDataLiveChat.guestUsers);
      return props.metaDataLiveChat.adminUsers
        .concat(props.metaDataLiveChat.guestUsers)
        .concat(props.thread.owner);
    });

    //used to reset the search and the password when we change thread...
    watch(
      () => props.resetOnEnteringOptionMenu,
      (current) => {
        data.search = "";
        resetTargetOnClick();
      }
    );

    watch(
      () => data.search,
      (current) => {
        if (!current) {
          data.users = [];
        } else {
          data.users = getMatchingUsers(current);
        }
      }
    );

    //any User except for yourself.
    const getMatchingUsers = (usernamePattern: string) => {
      return anyUsers.value.filter(function (user) {
        return (
          user.username.includes(usernamePattern) &&
          user.login !== props.whoAmI_TODO.login
        );
      });
    };

    const resetTargetOnClick = () => {
      data.target = "quick search by username...";
      data.targetProfile = {};
    };

    const selectUserToChallengeOnClick = (userSelected: UserPublicPOV) => {
      data.targetProfile = userSelected;
      data.target = userSelected.username;
      data.search = "";
    };

    return {
      data,
      anyUsers,
      resetTargetOnClick,
      selectUserToChallengeOnClick,
    };
  },
});
</script>

<style lang="scss" scoped>
.wrapper--input {
  position: relative;

  .search {
    z-index: 2000;
    position: absolute;
    top: 100%;
    width: 70%;
    height: auto;
    background-color: #fff;
    border-radius: 6px !important;
    margin-bottom: 15%;
    border-color: lightblue;
    border-style: double;
  }
}

.title {
  padding-top: 4%;
  padding-bottom: 2%;
}

.list-group {
  max-height: 25vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.full-width-enforced {
  width: 100%;
  min-width: 100%;
}

.line-search {
  text-align: left;
  padding-left: 1%;
  margin: 5px;
  .username {
    color: black;
  }
}

.badge-guest {
  background-color: rgb(44, 168, 230);
  border-radius: 10px;
}

.badge-admin {
  background-color: rgb(243, 145, 26);
  border-radius: 10px;
}

.badge-owner {
  background-color: rgb(243, 48, 26);
  border-radius: 10px;
}

.button-fight {
  background-color: rgb(134, 134, 171);
}
h3 {
  float: left;
}
.not-found {
  color: #f76565;
  font-size: 0.825rem;
  margin: auto;
}
</style>