<template>
  <div>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Options
      </button>
      <div
        class="dropdown-menu dropdown-menu-right"
        aria-labelledby="dropdownMenuButton"
      >
        <!-- CHALLENGE SOMEONE -->
        <button
          type="button"
          class="dropdown-item"
          data-toggle="modal"
          data-target="#challengeSomeoneDirectMessageModal"
        >
          Challenge {{ usernameFriend }}
        </button>
      </div>
    </div>
    <ModalChallengeSomeoneDirectMessage
      v-bind:usernameFriend="usernameFriend"
    />
  </div>
</template>


<script lang="ts">
import { DirectMessageThread } from "@/models/directMessageThread";
import { computed, ComputedRef, defineComponent, reactive } from "vue";
import ModalChallengeSomeoneDirectMessage from "./ModalChallengeSomeoneDirectMessage.vue";

export default defineComponent({
  name: "OptionsForDirectMessagesHeader",

  components: {
    //Channels,
    ModalChallengeSomeoneDirectMessage,
  },

  props: {
    usernameFriend: {
      type: String,
      required: true,
    },
    thread: {
      type: Object as () => DirectMessageThread,
      required: true,
    },
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
  },
  setup(props, context) {
    const interlocutor = computed(() => {
      if (props.whoAmI_TODO.username === props.thread.user1.username)
        return props.thread.user2;
      else return props.thread.user1;
    });
    interlocutor;

    return {
      interlocutor,
    };
  },
});
</script>

<style scoped>
</style>