<template>
  <button class="dropdown-item" type="button">
    Invite {{ usernameFriend }} in LiveChat -> {{ interlocutor.login }}
  </button>
</template>


<script lang="ts">
import { UserPublicPOV } from "@/models/userPublicPOV";
import { defineComponent, reactive } from "vue";

export default defineComponent({
  name: "OptionInviteInChatChannel",
  components: {
    //Channels,
  },
  props: {
    usernameFriend: {
      type: String,
      required: true,
    },
    interlocutor: {
      type: Object as () => UserPublicPOV,
      required: true,
    },
  },
  setup() {
    const data = {
      username: "",
      login: "",
    };

    return {
      //createChannel,
      data,
    };
  },
});

// https://github.com/AykutSarac/chatify/blob/main/src/client/src/components/ChatScreen.vue
</script>

<style scoped>
</style>