<template>
  <div class="input-group">
    <textarea
      class="form-control"
      aria-label="With textarea"
      v-model="message"
      @click="TryToResetInputField"
      :style="{ 'background-color': backGroundColor }"
      v-on:keydown.exact="keyhandler"
      v-on:keydown.enter.exact.prevent="sendToBackEnd"
      @keydown.enter.shift.exact.prevent="keyEnterShiftHandler"
    ></textarea>
    <div class="input-group-append">
      <button class="input-group-text" @click="sendToBackEnd">Send</button>
    </div>
  </div>
</template>


<script lang="ts">
import {
  ChatThreadGenre,
  SelectedThreadTupple,
} from "@/models/selectedThreadTupple";
import { defineComponent, inject, ref, Ref, watch } from "vue";
import { Socket } from "socket.io-client";

export default defineComponent({
  name: "ChatMessageInput",

  components: {
    //Channels,
  },

  props: {
    whoAmI_TODO: {
      type: Object,
      required: true,
    },
    refreshTextInputArea: {
      type: Boolean,
      required: true,
    },
    selectedThread: {
      type: Object as () => SelectedThreadTupple, //to cast to SelectedThreadTupple
      required: true,
    },
  },

  emits: ["directMessageSent"],

  setup(props, context) {
    const socket = inject("mainSocketIO") as Socket;

    const WelcomeMessageInput: String = "Type your message in here...";
    const LockedWelcomeMessageInput: String = "Select a thread first...";
    let message = ref(WelcomeMessageInput);
    const firstClickInInputField: Ref<boolean> = ref(true);
    const backGroundColor: Ref<String> = ref("#fff");
    const lockedInputArea: Ref<Boolean> = ref(false);

    const makeSureAThreadIsSelected = () => {
      if (
        props.selectedThread.genre === ChatThreadGenre.UNSELECTED &&
        !props.selectedThread.newDirectMessageThreadButNothingSentYet
      ) {
        lockedInputArea.value = true;
        message.value = LockedWelcomeMessageInput;
      } else {
        lockedInputArea.value = false;
        message.value = WelcomeMessageInput;
      }
    };
    makeSureAThreadIsSelected();

    const keyhandler = (event: any) => {
      if (lockedInputArea.value) event.preventDefault();
    };
    const keyEnterShiftHandler = (event: any) => {
      if (lockedInputArea.value) return;
      message.value += "\n";
    };

    const TryToResetInputField = () => {
      if (lockedInputArea.value) return;
      if (firstClickInInputField.value) {
        firstClickInInputField.value = false;
        message.value = "";
      }
    };

    const sendToBackEnd = (event: any) => {
      //avoid sending to nobody.
      if (lockedInputArea.value) {
        return;
      }
      if (message.value.length === 0) return;
      if (message.value.length >= 255) {
        //TODO error, do not submit

        return;
      } else {
        if (props.selectedThread.genre !== ChatThreadGenre.LIVE_CHAT) {
          let datasocket = {
            //TODO
            username_sender: props.whoAmI_TODO.username,
            username_receiver:
              props.selectedThread.userTargetInNewDirectMessageThread.username,
            message: message.value,
          };

          if (
            props.selectedThread.newDirectMessageThreadButNothingSentYet ===
            true
          ) {
            datasocket.username_receiver =
              props.selectedThread.userTargetInNewDirectMessageThread.username;
          } else {
            if (
              props.whoAmI_TODO.username ===
              props.selectedThread.thread.user2.username
            ) {
              datasocket.username_receiver =
                props.selectedThread.thread.user1.username;
            } else {
              datasocket.username_receiver =
                props.selectedThread.thread.user2.username;
            }
          }
          socket.emit("directMessage", datasocket);
          context.emit("directMessageSent", datasocket.username_receiver);
        } else if (props.selectedThread.genre === ChatThreadGenre.LIVE_CHAT) {
          let datasocket = {
            //TODO
            usernameSource: props.whoAmI_TODO.username,
            roomID: props.selectedThread.id,
            message: message.value,
          };
          //console.log("------ data :", datasocket);
          socket.emit("messageToRoom", datasocket);
        }
        message.value = "";
      }
    };

    watch(props.selectedThread, (current, previous) => {
      if (
        current.genre === ChatThreadGenre.UNSELECTED &&
        !current.newDirectMessageThreadButNothingSentYet
      ) {
        message.value = LockedWelcomeMessageInput;
        //TODO: need to find a way to use this motherfocker.
        lockedInputArea.value = true;
      } else {
        lockedInputArea.value = false;
        message.value = WelcomeMessageInput;
        firstClickInInputField.value = true;
      }
    });

    watch(message, (current, previous) => {
      if (current.length < 255 - 50) {
        backGroundColor.value = "#ffffff";
      } else if (current.length >= 255 - 50 && current.length < 255 - 25)
        backGroundColor.value = "#ffe0cc";
      else if (current.length <= 255) {
        backGroundColor.value = "#ffcccc";
      } else backGroundColor.value = "#ff0000";
      //TODO
      //display the number of remaining characters somewhere.
    });

    return {
      message,
      firstClickInInputField,
      TryToResetInputField,
      sendToBackEnd,
      backGroundColor,
      lockedInputArea,
      keyhandler,
      keyEnterShiftHandler,
    };
  },
});
</script>

<style scoped>
</style>