<template></template>


<script lang="ts">
import { defineComponent, reactive } from "vue";

export default defineComponent({
  components: {
    //Channels,
  },
  setup() {
    return {
      //createChannel,
    };
  },
});
</script>

<style scoped>
</style>