<template>
  <div>
    <div
      v-if="
        !metaDataLiveChat.adminUsers.length &&
        !metaDataLiveChat.guestUsers.length
      "
    >
      Add some guests first!
    </div>
    <div v-else class="d-flex flex-column">
      <!-- REMOVE ADMINS -->
      <div id="removeAdmins" class="d-flex flex-column">
        <h3 class="align-self-start">Admins:</h3>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <div>You</div>
              <button type="button" class="btn btn-secondary btn-sm">
                owner
              </button>
            </div>
          </li>
          <li
            class="list-group-item"
            v-for="admin in metaDataLiveChat.adminUsers"
            :key="admin.id"
          >
            <div class="d-flex justify-content-between">
              <div>{{ admin.username }}</div>
              <button
                type="button"
                class="btn btn-danger btn-sm"
                @click="removeAdminOnClick(admin)"
              >
                remove
              </button>
            </div>
          </li>
        </ul>
      </div>

      <!-- ADD ADMINS -->
      <div
        id="addAdmins"
        class="d-flex flex-column"
        v-if="metaDataLiveChat.guestUsers.length"
      >
        <h3 class="align-self-start">Guests:</h3>
        <div class="wrapper--input input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input
            type="text"
            class="form-control"
            :placeholder="data.target"
            aria-label="Username"
            aria-describedby="basic-addon1"
            v-model="data.search"
          />

          <div class="search" v-if="data.users[0]">
            <div
              class="container--user--search"
              v-for="(user, id) in data.users"
              :key="id"
            >
              <div class="line-search d-flex justify-content-between">
                <div class="username">
                  {{ user.username }}
                </div>
                <button
                  type="button"
                  class="btn btn-success btn-sm"
                  @click="addAdminOnClick(user)"
                >
                  add
                </button>
              </div>
            </div>
          </div>
        </div>

        <div v-if="data.search && !data.users[0]">
          <p class="not-found">Guest not found</p>
        </div>

        <ul class="list-group">
          <li
            class="list-group-item"
            v-for="guest in metaDataLiveChat.guestUsers"
            :key="guest.id"
          >
            <div class="d-flex justify-content-between">
              <div>{{ guest.username }}</div>
              <button
                type="button"
                class="btn btn-success btn-sm"
                @click="addAdminOnClick(guest)"
              >
                add
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { BasicResponseStatus } from "@/models/basicResponseObject";
import { ChatChannelThread } from "@/models/chatChannelThread";
import { MetaDataLiveChat } from "@/models/metaDataLiveChat";
import { UserPublicPOV } from "@/models/userPublicPOV";
import {
  adminAddToChatChannel,
  adminRemoveFromChatChannel,
} from "@/sdk-callback/chatChannels";
import { defineComponent, reactive, watch } from "vue";

export default defineComponent({
  name: "manageAdminsLiveChat",

  props: {
    thread: {
      type: Object as () => ChatChannelThread,
      required: true,
    },
    metaDataLiveChat: {
      type: Object as () => MetaDataLiveChat,
      required: true,
    },
    resetOnEnteringOptionMenu: {
      type: Boolean,
      required: true,
    },
  },

  emits: ["addedAdmin", "removedAdmin"],

  components: {
    //Channels,
  },
  setup(props, context) {
    /* SEARCH USERS PART */
    const data = reactive({
      search: "", // chaine de caractères recherchée via l'input
      users: [] as UserPublicPOV[], // tableau contenant tous les usernames des utilisateurs renvoyé par le back
      target: "find a guest...",
    });

    //used to reset the search and the password when we change thread...
    watch(
      () => props.resetOnEnteringOptionMenu,
      (current) => {
        data.search = "";
        data.target = "find a guest...";
      }
    );

    watch(
      () => data.search,
      (current) => {
        if (!current) {
          data.users = [];
        } else {
          data.users = getMatchingGuestNames(current);
        }
      }
    );

    const getMatchingGuestNames = (usernamePattern: string) => {
      return props.metaDataLiveChat.guestUsers.filter(function (user) {
        return user.username.includes(usernamePattern);
      });
    };

    const addAdminOnClick = async (selectedUser: UserPublicPOV) => {
      await adminAddToChatChannel(selectedUser.login, +props.thread.id).then(
        (response) => {
          if (response.status === BasicResponseStatus.ERROR) {
            //console.log(response?.error?.errorDescription);
            return;
          }

          //to remove the "line-search" matching the user we just added
          data.users = data.users.filter(
            (user) => user.login !== selectedUser.login
          );

          data.search = "";
          data.target = "find a guest...";
          //to update the metadata of users in the parent component.
          context.emit("addedAdmin", selectedUser);
        }
      );
    };

    const removeAdminOnClick = async (selectedUser: UserPublicPOV) => {
      ////console.log("removing: ", selectedUser.username);
      await adminRemoveFromChatChannel(
        props.thread.id.toString(),
        selectedUser.login
      ).then((response) => {
        if (response.status === BasicResponseStatus.ERROR) {
          //console.log(response?.error?.errorDescription);
          return;
        }
        //to update the metadata of users in the parent component.
        context.emit("removedAdmin", selectedUser);
      });
    };

    return {
      data,
      addAdminOnClick,
      removeAdminOnClick,
    };
  },
});
</script>

<style lang="scss" scoped>
.wrapper--input {
  position: relative;

  .search {
    z-index: 2000;
    position: absolute;
    top: 100%;
    width: 70%;
    height: auto;
    background-color: #fff;
    border-radius: 6px !important;
    margin-bottom: 15%;
    border-color: lightblue;
    border-style: double;
  }
}

#addAdmins {
  padding-top: 3%;
}

.list-group {
  max-height: 25vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.line-search {
  text-align: left;
  padding-left: 1%;
  margin: 5px;
  .username {
    color: black;
  }
}

.not-found {
  color: #f76565;
  font-size: 0.825rem;
  margin: auto;
}
</style>